<div class="container">
  <div class="trots">
    <h4>
      TROTS
    </h4>
    <h2>
      350,983
    </h2>
    &nbsp;
    <p class="arrow-up">
     &#8593; 3.45%
      <span style="color: gray;">Since last month</span>
    </p>
  </div>
  <div class="users">
    <h4>
      USERS
    </h4>
    <h2>
      2,382
    </h2>
    &nbsp;
    <p class="arrow-down">
      &darr; 7.62%
      <span style="color: gray;">Since last month</span>
    </p>
  </div>

  <div class="fund">
    <h4>
      FUNDRAISING
    </h4>
    <h2>
      $938,923
    </h2>
    &nbsp;
    <p class="arrow-up">
      &#8593; 1.01%
      <span style="color: gray;">Since last month</span>
    </p>
  </div>
</div>
