/* Add a black background color to the top navigation */
.nav {
  background-color: #007E67;
  overflow: hidden;
  font-family: "Roboto";
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 18px 16px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 13px;
  font-family: "Roboto";

}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  color: white;
  font-weight: bold;
}
